/* home sectin start */
.card{
  transition: none !important;
  box-shadow: none !important;
  border: none !important;
}
.card1{
    width: 300%;
    /* padding: 0% 0% 5% 0%; */
    height: 10%;
  }
  .img{
    /* height: 10%; *//* width: 100%; *//* margin-top: 0%; *//* z-index: -1; */ /* width:50%; */
    height: 428pt;
    /* height: auto; */
    
  }
  .img1{
    /* height: 10%; *//* width: 100%; *//* margin-top: 0%; *//* z-index: -1; */ /* width:50%; */
    height: auto;
    /* height: auto; */
  }
   .span1 {
      position: absolute;
      top: 4%;
      left: 5%;
      color: white;
      font-size: 50px;
      text-decoration: none;
      opacity: 0.3;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }
    .span2{
      position: absolute;
      top: 14%;
      left: 5.11%;
      color:white;
      font-size:15px; 
      opacity: 0.3;
      text-transform: uppercase;
      letter-spacing: 12px;
    }
    /* home section end */
    /* About us Section start */
    .span3{
      text-decoration: none;
      font-family: 'Times New Roman', Times, serif;
      font-size: 25px;
      font:bold;
      /* font-weight: bolder; */
      margin-left: 2%;
      margin-right: 2%;
  }   
    .span4{
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
      font:bold;
      font-weight: bolder;
      color: rgba(111, 0, 255, 0.733);
  }   
  /* About us Section End */



/****************************Responsive Section Start****************** */
.XsHeading{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font:bold;
  font-weight: bolder;
  color: rgba(111, 0, 255, 0.733);
}
.XsPara{
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  font:bold;
  font-weight: bolder;
  margin-left: 20px;
  
}

.XsName{
  position: absolute;
  top: 2%;
  left: 5%;
  color: white;
  font-size: 20px;
  text-decoration: none;
  opacity: 0.3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.XsSubname{
  position: absolute;
  top: 15%;
  left: 5.11%;
  color:rgb(255, 255, 255);
  opacity: 0.3;
  font-size:8px;
  text-transform: uppercase;
  letter-spacing: 5px; 
}