<!-- timing section start -->
<div fxLayout="column" fxLayoutGap="0px" fxLayout.xs="column" fxLayoutAlign="center center" style="background-color:white; padding-top: 0%; padding-bottom: 1%;">
  <span ngClass.xs='XsHeading' class="span4">Batch Timings</span> <br>
  <mat-divider style="background-color:rgba(32, 31, 31, 0.199);width: 70%;"></mat-divider> <br>                    
</div>


<div fxLayout="column" fxLayoutAlign="center stretch" style="background-color:white;">
  <div fxLayout="row" fxLayoutAlign="space-around center" style="padding:2%;">
    <div fxLayout="column">
        <mat-card class="card" >  
              <div fxLayout="column" fxLayoutAlign="center center">         
            <span class="span5">Batch</span>
          <span class="span6">8 AM - 9 PM</span>
              </div>
      </mat-card>
     </div>
    <div fxLayout="column">
        <mat-card class="card" >  
              <div fxLayout="column" fxLayoutAlign="center center">         
            <span class="span5">Batch</span>
          <span class="span6">8 AM - 9 PM</span>
              </div>
      </mat-card>
     </div>
    <div fxLayout="column">
        <mat-card class="card" >  
              <div fxLayout="column" fxLayoutAlign="center center">         
            <span class="span5">Batch</span>
          <span class="span6">8 AM - 9 PM</span>
              </div>
      </mat-card>
     </div>
 </div>
 <div fxLayout="row" fxLayoutAlign="space-around center" style="padding:2%;">
    <div fxLayout="column">
        <mat-card class="card" >  
              <div fxLayout="column" fxLayoutAlign="center center">         
            <span class="span5">Batch</span>
          <span class="span6">8 AM - 9 PM</span>
              </div>
      </mat-card>
     </div>
    <div fxLayout="column">
        <mat-card class="card" >  
              <div fxLayout="column" fxLayoutAlign="center center">         
            <span class="span5">Batch</span>
          <span class="span6">8 AM - 9 PM</span>
              </div>
      </mat-card>
     </div>
    <div fxLayout="column">
        <mat-card class="card" >  
              <div fxLayout="column" fxLayoutAlign="center center">         
            <span class="span5">Batch</span>
          <span class="span6">8 AM - 9 PM</span>
              </div>
      </mat-card>
     </div>
  </div>
</div> 
<!-- timing section end -->