
    <div fxLayout="row" fxLayoutGap="0px" fxLayout.xs="column" fxLayoutAlign="space-around start" style="background-color:white; padding-top: 0%; padding-bottom: 0%;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d59542.15293076716!2d79.131219!3d21.137089!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x14a5864727eef499!2sArc+Technologies+And+Institutions+.!5e0!3m2!1sen!2sin!4v1540058428931" width="1920" height="250" frameborder="50" style="border:50; border-color: rgba(255, 0, 0, 0.26);"  allowfullscreen></iframe>
    </div>
    <div fxLayout="row" fxLayoutGap="0px" fxLayout.xs="column" fxLayoutAlign="space-around start" style="background-color:rgba(7, 7, 7, 0.822); padding-top: 4%; padding-bottom: 0%;">


            <div fxLayout="column" fxLayoutGap.xs="1px"  fxLayoutGap="5px" fxLayoutAlign="center start">
                    <div fxLayout="row" fxLayoutGap.xs="1px"  fxLayoutGap="5px" >
                      <span class="span1"><i class="material-icons">location_on</i></span> 
                       <span class="span1">18/A, Nandanvan, Nagpur, Maharashtra 440024</span> 
                   </div>
                   <div fxLayout="row" fxLayoutGap.xs="1px"  fxLayoutGap="5px" >
                        <span class="span1"><i class="material-icons"> phone</i></span> 
                         <span class="span1">089834 23955</span> 
                   </div>
                   <div fxLayout="row" fxLayoutGap.xs="1px"  fxLayoutGap="5px" >
                        <span class="span1"><i class="material-icons">mail_outline</i></span> 
                         <span class="span1">vigotechnoworld@gmail.com</span> 
                    </div>  
            </div>

            <div fxLayout="column" fxLayoutGap.xs="1px"  fxLayoutGap="5px" fxLayoutAlign="center start">
                    <div fxLayout="row" fxLayoutGap.xs="1px"  fxLayoutGap="5px" >
                       <span class="span3">About Vigo-Technoworld</span> 
                   </div>
                   <div fxLayout="row" fxLayoutGap.xs="1px"  fxLayoutGap="5px" >
                         <span class="span2">Vigo Technoloworld Pvt. Ltd. is an First in <br> Class Eduction center for all Those who want to<br> achive there Dream Goal in life
                                You will get leran<br> to all major skills in today's it industry to get<br> the dream job you want't......................... <a routerLink="/aboutus" routerLinkActive="active">Read More</a></span> 
                   </div>
            </div>

            <div fxLayout="column" fxLayoutGap.xs="1px"  fxLayoutGap="5px" fxLayoutAlign="center start">
                    <div fxLayout="row" fxLayoutGap.xs="1px"  fxLayoutGap="1px" >
                            <span class="span3">Navigation</span> 
                    </div>
                    <div fxLayout="row" fxLayoutGap.xs="1px"  >
                      <span class="span1"><i class="material-icons"><i class="material-icons">fast_forward</i></i></span> 
                       <span class="span2">Home</span> 
                   </div>
                   <div fxLayout="row" fxLayoutGap.xs="1px"   >
                        <span class="span1"><i class="material-icons"><i class="material-icons">fast_forward</i></i></span>
                         <span class="span2">Register</span> 
                   </div>
                   <div fxLayout="row" fxLayoutGap.xs="1px"  >
                        <span class="span1"><i class="material-icons"><i class="material-icons">fast_forward</i></i></span> 
                         <span class="span2">Tech News</span> 
                    </div> 
                    <div fxLayout="row" fxLayoutGap.xs="1px"  >
                        <span class="span1"><i class="material-icons"><i class="material-icons">fast_forward</i></i></span> 
                         <span class="span2">About us</span> 
                    </div>  
            </div>
    </div>


    <div fxLayout="column" fxLayoutGap="0px" fxLayout.xs="column" fxLayoutAlign="start center" style="background-color:rgba(7, 7, 7, 0.822); padding-top: 0%; padding-bottom: 1%;">
                    <mat-divider style="background-color:white;width: 100%;"></mat-divider> <br>

                    <span class="span2">2018 Vigo Technoworld Pvt. Ltd. All rights reserved | Design by VIGO</span>         
    </div>



