.span1{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
    font:bold;
}
.span2{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 15px;
    font:bold;
}
.span3{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 25px;
    font:bold;
}
     
     
