<!-- <h1>ADMIN PROFILE</h1>
<table *ngIf="userDetails" class="table-fill">
  <thead>
      <tr>
          <th colspan="2" class="text-center">User Profile</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>User Id</td>
          <td>{{userDetails._id}}</td>
      </tr>
       <tr>
          <td>Role Type</td>
          <td>{{userDetails.roleType}}</td>
      </tr>
      <tr>
          <td>First Name</td>
          <td>{{userDetails.fullName.split(' ')[0]}}</td>
      </tr>
      <tr>
          <td>Last Name</td>
          <td>{{userDetails.fullName.split(' ')[1]}}</td>
      </tr>
      <tr>
          <td>Email</td>
          <td>{{userDetails.email}}</td>
      </tr>
      <tr>
          <td colspan="2" class="text-center">
              <input type="button" (click)="onLogout()" value="Logout" />
          </td>
      </tr>
  </tbody>
</table> -->









<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step>
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel><span class="label">Profile Info</span></ng-template>
      <mat-form-field>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel><span class="label">Student Registration</span></ng-template>
      <mat-form-field>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel><span class="label">All Student</span></ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel><span class="label">Enquery Request</span></ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
