<!-- technologies section start -->
<div fxLayout="column" fxLayoutGap="0px" fxLayout.xs="column" fxLayoutAlign="center center" style=" background-color:white; padding-top: 2%; padding-bottom: 1%;">
  <span ngClass.xs= 'XsHeading' class="span4">Technologies At ARC</span> <br>
  <mat-divider style="background-color:rgba(32, 31, 31, 0.199);width: 70%;"></mat-divider> <br>                    
</div>


<div fxLayout="column" fxLayoutAlign="center stretch" >
 <div fxLayout="row" fxLayoutAlign="space-around stretch" style="background-color:white;">
    <div fxLayout="column">
        <mat-card class="card" > <img class="example-card"  ngClass.xs="example-card1" mat-card-image src="src\assets\technologies\tech1.png" alt="image of technologies"></mat-card>
     </div>
    <div fxLayout="column">
        <mat-card class="card" > <img class="example-card"  ngClass.xs="example-card1" mat-card-image src="src\assets\technologies\tech2.png" alt="image of technologies"></mat-card>
     </div>
    <div fxLayout="column">
        <mat-card class="card" > <img class="example-card"  ngClass.xs="example-card1" mat-card-image src="src\assets\technologies\tech3.png" alt="image of technologies"></mat-card>
     </div>
    <div fxLayout="column">
      <mat-card class="card" > <img class="example-card"  ngClass.xs="example-card1" mat-card-image src="src\assets\technologies\tech4.png" alt="image of technologies"></mat-card>
     </div>
 </div>
 <div fxLayout="row" fxLayoutAlign="space-around stretch" style="background-color:white;">
    <div fxLayout="column">
        <mat-card class="card" > <img class="example-card"  ngClass.xs="example-card1" mat-card-image src="src\assets\technologies\tech5.png" alt="image of technologies"></mat-card>
     </div>
    <div fxLayout="column">
        <mat-card class="card" > <img class="example-card"  ngClass.xs="example-card1" mat-card-image src="src\assets\technologies\tech6.png" alt="image of technologies"></mat-card>
     </div>
    <div fxLayout="column">
        <mat-card class="card" > <img class="example-card"  ngClass.xs="example-card1" mat-card-image src="src\assets\technologies\tech7.png" alt="image of technologies"></mat-card>
     </div>
    <div fxLayout="column">
  <mat-card class="card" > <img class="example-card"  ngClass.xs="example-card1" mat-card-image src="src\assets\technologies\tech8.png" alt="image of technologies"></mat-card>
</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around stretch" style="background-color:white;">
      <div fxLayout="column">
  <mat-card class="card" > <img class="example-card"  ngClass.xs="example-card1" mat-card-image src="src\assets\technologies\tech9.png" alt="image of technologies"></mat-card>
</div>
      <div fxLayout="column">
  <mat-card class="card" > <img class="example-card"  ngClass.xs="example-card1" mat-card-image src="src\assets\technologies\tech10.png" alt="image of technologies"></mat-card>
</div>
      <div fxLayout="column">
  <mat-card class="card" > <img class="example-card"  ngClass.xs="example-card1" mat-card-image src="src\assets\technologies\tech11.png" alt="image of technologies"></mat-card>
</div>
      <div fxLayout="column">
  <mat-card class="card" > <img class="example-card"  ngClass.xs="example-card1" mat-card-image src="src\assets\technologies\tech12.png" alt="image of technologies"></mat-card>
</div>
    </div>

</div>
<!-- technologies section end -->

